<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.stardash.sportdash">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        android:name=".settings.MyApplication"
        android:allowBackup="true"
        android:icon="@drawable/logo_best"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.SportDash">
        <activity
            android:name=".settings.account.GeneralActivity"
            android:exported="false" />
        <activity
            android:name=".settings.account.UpdateSettingsActivity"
            android:exported="false" />
        <activity
            android:name=".settings.account.TtsActivity"
            android:exported="false" />
        <activity
            android:name=".settings.account.AccountActivity"
            android:exported="false" />
        <activity
            android:name=".online.friends.follows.FollowActivity"
            android:exported="false" />
        <activity
            android:name=".plans.run.inspect.InspectActivity"
            android:exported="false" />
        <activity
            android:name=".online.feed.FeedActivity"
            android:exported="false" />
        <activity
            android:name=".plans.create.structure.CreateStructureNewActivity"
            android:exported="false" />
        <activity
            android:name=".plans.run.SearchPlanActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".settings.chat.ChatBackgroundActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".settings.chat.ChatSettingsActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".plans.create.ImagesActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".settings.TermsOfServiceActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".settings.changelog.UpdateActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".me.leaderboard.leaderboard"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".plans.comments.CommentsActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".online.chat.InboxActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".online.chat.ChatActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".online.ProfileActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".settings.FeedbackActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".me.CalenderActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".me.AchievementsActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".online.LobbyActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".online.friends.FriendsActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".plans.run.FinishedWorkoutActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".plans.run.ActivePlanActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".plans.run.RunPlanActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".plans.create.GuideStructurePlanActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".plans.create.ElementsActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".plans.create.CreateStructureActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".plans.create.CreatePlanActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".plans.run.PlanActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".settings.AboutActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".online.shop.ShopActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".signIn.AfterRegister"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".signIn.RegisterActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".plans.run.TrackActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".plans.run.RewardActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".plans.run.ResultInfoActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".plans.run.ResultActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".signIn.LoginActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".settings.SettingsActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.TTS_SERVICE" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter
                android:autoVerify="true"
                android:label="userid">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.OPENABLE" />
                <category android:name="android.intent.category.BROWSABLE" />
                <!-- Accepts URIs that begin with "http://www.example.com/gizmos” -->
                <data
                    android:host="www.sportdash.com"
                    android:scheme="https" />
                <!-- note that the leading "/" is required for pathPrefix -->
            </intent-filter>
            <intent-filter android:label="userid">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <!-- Accepts URIs that begin with "example://gizmos” -->
                <data
                    android:host="userid"
                    android:scheme="sportdash" />
            </intent-filter>
        </activity>
    </application>

</manifest>