<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.stardash.sportdash">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        android:name=".settings.MyApplication"
        android:allowBackup="true"
        android:icon="@drawable/bosslogo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/bosslogo"
        android:supportsRtl="true"
        android:theme="@style/Theme.SportDash">
        <activity
            android:name=".settings.ChatSettingsActivity"
            android:exported="false" />
        <activity
            android:name=".plans.create.ImagesActivity"
            android:exported="false" />
        <activity
            android:name=".settings.TermsOfServiceActivity"
            android:exported="false" />
        <activity
            android:name=".settings.UpdateActivity"
            android:exported="false" />
        <activity
            android:name=".me.leaderboard.leaderboard"
            android:exported="false" />
        <activity
            android:name=".plans.comments.CommentsActivity"
            android:exported="false" />
        <activity
            android:name=".online.chat.InboxActivity"
            android:exported="false" />
        <activity
            android:name=".online.chat.ChatActivity"
            android:exported="false" />
        <activity
            android:name=".online.ProfileActivity"
            android:exported="false" />
        <activity
            android:name=".settings.FeedbackActivity"
            android:exported="false" />
        <activity
            android:name=".me.CalenderActivity"
            android:exported="false" />
        <activity
            android:name=".me.AchievementsActivity"
            android:exported="false" />
        <activity
            android:name=".online.LobbyActivity"
            android:exported="false" />
        <activity
            android:name=".online.FriendsActivity"
            android:exported="false" />
        <activity
            android:name=".plans.run.FinishedWorkoutActivity"
            android:exported="false" />
        <activity
            android:name=".plans.run.ActivePlanActivity"
            android:exported="false" />
        <activity
            android:name=".plans.run.RunPlanActivity"
            android:exported="false" />
        <activity
            android:name=".plans.create.GuideStructurePlanActivity"
            android:exported="false" />
        <activity
            android:name=".plans.create.ElementsActivity"
            android:exported="false" />
        <activity
            android:name=".plans.create.CreateStructureActivity"
            android:exported="false" />
        <activity
            android:name=".plans.create.CreatePlanActivity"
            android:exported="false" />
        <activity
            android:name=".plans.run.PlanActivity"
            android:exported="false" />
        <activity
            android:name=".settings.AboutActivity"
            android:exported="false" />
        <activity
            android:name=".online.shop.ShopActivity"
            android:exported="false" />
        <activity
            android:name=".signIn.AfterRegister"
            android:exported="false" />
        <activity
            android:name=".signIn.RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".plans.run.TrackActivity"
            android:exported="false" />
        <activity
            android:name=".plans.run.RewardActivity"
            android:exported="false" />
        <activity
            android:name=".plans.run.ResultInfoActivity"
            android:exported="false" />
        <activity
            android:name=".plans.run.ResultActivity"
            android:exported="false" />
        <activity
            android:name=".signIn.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".settings.SettingsActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.TTS_SERVICE" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="www.sportdash.com"
                    android:scheme="https" />
            </intent-filter>
        </activity>
    </application>

</manifest>